.User {
    width: 80%;
    display: flex;
    flex-direction: column;

    border-collapse: collapse;
    border: 1px solid purple;

}
.Users {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-collapse: collapse;
    justify-content: center;
    row-gap: 30px;
    column-gap: 30px;
    margin-top: 20px;
}
.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.statistic h3 {
    height: 1px;
}
.statistic p {
height: 1px;
}
.statistic ul {
display: flex;
    column-gap: 35px;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    height: 400px;
    position: relative;
    z-index: 1010;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.modalContent input {
    width: 200px;
    height: 100px;
}
.modalContent button {
    width: 150px;
    height: 100px;
    cursor: pointer;
}

.closeButton {
    position: absolute;
    top: 1px;
    right: 1px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.createUser {
    display: flex;
    justify-content: center;

}
.createUser button {
    width: 200px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}
.createUser button:hover {
    cursor: pointer;
    background-color: #957c8e;
}
.userBlock {
    width: 48%;
    height: 200px;
    display: flex;
    border-radius: 10px;
    border: 5px solid #957c8e;
    column-gap: 30px;
}
.UserInfo p{
    height: 3px;
    margin: 15px 10px 10px 10px;
    font-size: 13px;
    font-weight: bold;
}
.UserInfo {
    display: flex;
    flex-direction: column;
}
.userStatistics {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userStatistics p {
    height: 3px;
    font-size: 16px;
    font-weight: bold;
}
.userButtons {
display: flex;
    margin: 15px 10px 10px 10px;
}
.userButtons button {
    height: 50px;
    font-size: 12px;
    font-weight: bold;
}
.userButtons button:hover {
    cursor: pointer;
    background-color: #957c8e;
}
.loGiN {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.box {
    margin-top: 200px;
    height: 500px;
    width: 800px;
    background-color: aliceblue;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
}
.head {
    width: 100%;
    height: 150px;
    background-color: gainsboro;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}
.blank input {
    width: 300px;
    height: 50px;
}

.name {
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.footer {
    display: flex;
    justify-content: space-evenly;
}
.footer button {
    width: 200px;
    height: 40px;
}
button {
    width: 60px;
    background-color: gainsboro;
    border-radius: 10px;

}
body {
    background-color: #d0bfbf;
}
.inputWrapper {
    position: relative;
    width: 40%;
}

.inputWrapper input {
    width: 100%;
    padding: 10px;
    padding-right: 40px;
    box-sizing: border-box;
}

.eyeButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}
.pag {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}
.pag button {
    height: 35px;
    width: 45px;
    cursor: pointer;
    font-size: 18px;
}
.pag button.activePage {
    background-color: #957c8e;
}
.pag button:hover {
    background-color: #957c8e;
}